<div class={{colClass}}>
	<div class="advantage-item">
		<img src="{{ advantageItem.image }}" alt="{{ advantageItem.title }}" class="rounded-8"/>
		<h4 class="advantage-title">
			{{ advantageItem.title }}
		</h4>
		<p class="advantage-description">
			{{ advantageItem.description }}
		</p>
	</div>
</div>
