{% import "@views/macros/forms/forms.twig" as forms %}

{# Get list salutation #}
{% set listSalutation = [
  {
    label: salutationGroup.mr,
    value: 'Mr'
  },
  {
    label: salutationGroup.mrs,
    value: 'Mrs'
  },
  {
    label: salutationGroup.mx,
    value: 'Mx'
  }
]
%}

<div class="form contact-form js-contact-form">
	<div class="form-body">
		<form>
			<div class="row row--group">
				<div class="col-md-3 col-item">
					<div class="form-group">
						{{ forms.select({name:'salutation', id:'salutation', classes: 'selectpicker', options: listSalutation, includeBlank: true, includeText: salutationGroup.salutation, required: true, requireOption: true} ) }}
					</div>
				</div>
				<div class="col-md-3 col-item">
					<div class="form-group">
						<div class="form-field">
							{{ forms.input({id: 'title', name: 'title', value:'', placeholder: titleLabel|raw, type: 'text', autocomplete: false})}}
						</div>
					</div>
				</div>
				<div class="col-md-3 col-item">
					<div class="form-group">
						<div class="form-field">
							{{ forms.input({id: 'firstname', name: 'firstname', requireOption: true, value:'', placeholder: firstnameLabel|raw, type: 'text', autocomplete: false, required: true})}}
						</div>
					</div>
				</div>
				<div class="col-md-3 col-item">
					<div class="form-group">
						<div class="form-field">
							{{ forms.input({id: 'lastname', name: 'lastname', requireOption: true, value:'', placeholder: lastnameLabel|raw, type: 'text', autocomplete: false, required: true})}}
						</div>
					</div>
				</div>
				<div class="col-md-6 col-item">
					<div class="form-group">
						<div class="form-field">
							{{ forms.input({id: 'company', name: 'company', value:'', placeholder: companyLabel|raw, type: 'text', autocomplete: false})}}
						</div>
					</div>
				</div>
				<div class="col-md-6 col-item">
					<div class="form-group">
						<div class="form-field">
							{{ forms.input({id: 'division', name: 'division', value:'', placeholder: divisionLabel|raw, type: 'text', autocomplete: false})}}
						</div>
					</div>
				</div>
				<div class="col-md-3 col-item">
					<div class="form-group">
						<div class="form-field">
							{{ forms.input({id: 'street', name: 'street', requireOption: true, value:'', placeholder: streetLabel|raw, type: 'text', autocomplete: false, required: true})}}
						</div>
					</div>
				</div>
				<div class="col-md-3 col-item">
					<div class="form-group">
						<div class="form-field">
							{{ forms.input({id: 'postcode', name: 'postcode', requireOption: true, value:'', placeholder: postcodeLabel|raw, type: 'text', autocomplete: false, required: true})}}
						</div>
					</div>
				</div>
				<div class="col-md-6 col-item">
					<div class="form-group">
						<div class="form-field">
							{{ forms.input({id: 'city', name: 'city', value:'', requireOption: true, placeholder: cityLabel|raw, type: 'text', autocomplete: false, required: true})}}
						</div>
					</div>
				</div>
				<div class="col-md-6 col-item">
					<div class="form-group">
						<div class="form-group form-group--country">
							{% include "@views/components/country-form/countries.twig" with {
								selectCountryLabel: countryLabel
							} %}
						</div>
					</div>
				</div>
				<div class="col-md-3 col-item">
					<div class="form-group">
						{{ forms.input({id: 'email', name: 'email', requireOption: true, value:'', placeholder: emailLabel|raw, type: 'text', autocomplete: false, required: true})}}
					</div>
				</div>
				<div class="col-md-3 col-item">
					<div class="form-group">
						{{ forms.input({id: 'phone', name: 'phone', value:'', placeholder: phoneLabel|raw, type: 'text', autocomplete: false})}}
					</div>
				</div>
				<div class="col-md-12 col-item">
					<div class="form-group form-group--message">
						{{ forms.textarea({id: 'message', name: 'message', requireOption: true, value:'', placeholder: messageLabel|raw, type: 'text'})}}
					</div>
				</div>
        <div class="col-md-6 col-item">
          <div class="form-group form-group--checkbox">
              {{ forms.input({id: 'privacy', name: 'privacy', value: 1, label: privacyLabel|raw, type: 'checkbox', autocomplete: false})}}
          </div>
        </div>
        <div class="col-md-12 col-item">
          <div class="form-agreement">
            {{agreementText|raw}}
          </div>
        </div>
			</div>
      {# example captcha #}
      <div class="captcha">
        {{ recaptcha|content|raw}}
      </div>
      <div class="form-group-actions">
				<button type="submit" class="btn btn-info">{{buttonText|raw}}</button>
			</div>
		</form>
	</div>
</div>
