{% import "@views/macros/forms/forms.twig" as forms %}


<div class="top-banner top-banner--{{ theme|default('default') }} top-banner--{{classPage}}">
  <div class="container">
    <div class="row">
      <div class="{{colContent|default('col-md-6')}}">
        <div class="top-banner-content">
          <h1>{{ topBannerData.top_banner_title}}</h1>
          {% if topBannerData.top_banner_description %}
            <h3 class="subtitle">{{ topBannerData.top_banner_subtitle}}</h3>
            <div class="lead">{{ topBannerData.top_banner_description | content | raw}}</div>
          {% endif %}
          {% if topBannerData.isButton %}
            <a href="{{ topBannerData.top_banner_buttonUrl }}" class="btn btn-info top-banner-button"> {{topBannerData.top_banner_buttonText}} </a>
          {% endif %}
        </div>
      </div>
      <div class="{{colImage|default('col-md-6')}}">
        {% if topBannerData.top_banner_background %}
          <div class="top-banner-image">
            <img class="rounded-8" src="{{ topBannerData.top_banner_background }}" alt="{{topBannerData.top_banner_title}}"/>
          </div>
         {% endif %}
      </div>
    </div>
  </div>
</div>

