<div class="banner-loop-block">
	<div class="container">
		{% for item in data %}
			<div class="banner-loop">
				{% if item.image %}
					<div class="banner-loop-image"><img class="rounded-8" src="{{ item.image }}"/></div>
					<div class="banner-loop-content">
						{% if item.title %}
							<h2 class="banner-loop-title">{{ item.title }}</h2>
						{% endif %}
						{% if item.is_show %}
							<img class="banner-loop-logo" src="{{ partner_logo }}"/>
						{% endif %}
						<div class="banner-loop-text">{{ item.content | content | raw }}</div>
					</div>
				{% else %}
					<div class="banner-loop-content-text">
						{% if item.title %}
							<h2 class="banner-loop-title">{{ item.title }}</h2>
						{% endif %}
            {% if item.is_show %}
              <img class="banner-loop-logo" src="{{ partner_logo }}"/>
            {% endif %}
						<div class="banner-loop-text">{{ item.content | content | raw }}</div>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
